<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="integration">
			<directory prefix="" suffix="Test.php">./tests/Integration</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<exclude>
			<directory suffix=".php">./vendor</directory>
		</exclude>
		<report>
			<clover outputFile="build/logs/clover.xml"/>
			<html outputDirectory="build/coverage"/>
		</report>
	</coverage>

	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php"/>
	</php>
</phpunit>
